{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="container">
        <form action="">
            <div class="mb-3">
                <label for="searchMovie" class="form-label">
                    Buscar pelicula:
                </label>
                <input type="text" class="form-control" name="searchMovie" />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    
        <br />
        <div class="row row-cols-1 row-cols-md-3 g-4"> 
            {% for element in result%}
            {% for movie in movies %}
            {%if element.title == movie.title%}
            <div v-for="movie in movies" class="col"> 
                <div class="card"> 
                    <img class="card-img-top" src="{{ movie.image.url }}" /> 
                    <div class="card-body"> 
                        <a href="{% url 'detail' movie.id %}">
                            <h5 class="card-title fw-bold">{{ movie.title }}</h5> 
                        </a>
                        <p class="card-text">{{ movie.description }}</p> 
                        {% if movie.url %} 
                        <a href="{{ movie.url }}" class="btn btn-primary"> 
                            Movie Link 
                        </a> 
                        {% endif %} 
                    </div> 
                </div> 
            </div>
            {% endif %} 
            {% endfor %}
            {%endfor%} 
        </div> 
    </div>

</div>
{% endblock content %}